.App {
  display: grid;
  min-height: 100vh;

  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 250px 1fr;

  grid-template-areas:
    'header header'
    'sidebar content'
    'footer footer';

  .Header {
    grid-area: header;
  }
  .Footer {
    grid-area: footer;
  }
  .Sidebar {
    grid-area: sidebar;
  }
  .content {
    grid-area: content;
  }
}
